<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen flex flex-col">
        <div class="flex-1 max-h-full overflow-y-auto bg-yellow-400">
            <div class="">
                <div class="h-[1000px]"></div>
            </div>
        </div>
        <div class="bg-red-400">da</div>
    </div>
    <div class="w-full h-[300px]"></div>
    <!-- <div class="h-screen">
        <div class="h-[calc(100%-100px)] bg-yellow-400">
            <div class="h-full w-full overflow-hidden overflow-y-auto">
                <div class="w-[calc(100%-10px)] h-[900px]"></div>
            </div>
        </div>
        <div class="bg-red-400 h-[20%] w-full"></div>
    </div> -->
</body>

</html>